.h1-wrapper-wrapper .h1-wrapper{
    position: absolute;
    padding: 5px 9px;
    top: 107px;
    left: 232px;
    background: linear-gradient(90deg, #03a9f4, #f441a5);
    display: flex;
    justify-content: center;
    align-items: center;
}


.add-user-form-wrapper{
    position: absolute;
    top: 269px;
    left: 231px;
}