.h1-wrapper-wrapper .h1-wrapper{
    position: absolute;
    padding: 5px 9px;
    top: 250px;
    left: 232px;
    border-radius: 9px;
    background:#000000;
    display: flex;
    justify-content: center;
    align-items: center;
}


.add-user-form-wrapper{
    position: absolute;
    top: 500px;
    left: 231px;
}


.add-user-icon-wrapper{
    position: absolute;
    top:0px;
    left:0px;
}