.users-page-container{
    margin-top:160px;
    display:flex;
    align-items:center;
    justify-content:center;
}

.users-page-container ul{
    flex:4;
}

.users-page-container li{
    margin: 5px;
}
.users-page-container .h1-wrapper{
    flex:1;
    display:flex;
    justify-content:center;
    align-items:center;
}

.users-page-container .h1-wrapper h1{


    padding:6px 30px;
    border-radius: 9px;
    background: rgb(0, 0, 0);
    
}
