body{
    /* background-color: #242424; */
    background-color: black;
}

:root {
    --button-color: rgb(58, 177, 177);
    --button-secondary-color: rgb(58, 177, 98);
    --main-background: black;
}

* {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    color: rgba(255,255,255,0.87)
}

a {
    text-decoration:none;
}
ul {
    list-style: none;
    padding: 0;  /* Optional: Removes default left padding */
    margin: 0;   /* Optional: Removes default top/bottom margin */
  }


input {
    background: transparent;
    border:none;
    border-bottom: 1px solid white;
    margin: 10px;
}

/* button {
    margin:10px;
    background: var(--button-color);
    border: none;
    box-shadow: 0 0 5px var(--button-color);
} */



.NavLinks{
    margin-top:25px;
    margin-bottom:15px;
    display:flex;
    align-items:center;
    justify-content:center;
    gap:50px;
}
/* 
.NavLinks a{
    background:var(--button-color);
    padding-left:1%;
    padding-right:1%;
    height: 25px;
} */
